.home-landing-container{
    padding-top: 14rem;
    margin-bottom: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.home-landing-title{
    width: 60%;
    height: auto;
    content: url(/assets/index/home-logo-mobile.svg);
}

.home-landing-text{
    font-size: 2em;
    max-width: 13em;
    text-align: center;
    line-height: 1.8rem;
    font-weight: 450;
    margin-top: 20px;
    padding-bottom: 75px;
}


.home-landing-deathray{
    content: url(/assets/index/home-deathray.svg);
    width: 100%;

    margin: -300px 0 -200px;
}

.home-landing-button{
    display: flex;
    flex-direction: row;

    background: linear-gradient(180deg, #000000 0%, #0C0023 100%);
    box-shadow: 
    inset 0px 6px 6px -2px rgba(160, 35, 255, 0.15), 
    inset 0px -10px 10px -6px #F6C6FF, 
    inset 0px -40px 30px -30px #5214CD, 
    inset 0px -20px 15px -8px rgba(145, 102, 255, 0.5);
    mix-blend-mode: plus-lighter;
    border-radius: 85px;

    font-size: 1.8rem;
    margin: 0;

    padding: 10px 20px;
    justify-content: space-around;
    transition: 0.3s;
}

.home-landing-button:hover{
    box-shadow:
        inset 0px -6px 6px -2px rgba(160, 35, 255, 0.15),
        inset 0px 10px 10px -6px #F6C6FF,
        inset 0px 40px 30px -30px #5214CD,
        inset 0px 20px 15px -8px rgba(145, 102, 255, 0.5);
}

.home-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 2.5rem;

    position: relative;
}

.home-card1-content, .home-card2-content, .home-card3-content{
    background-color: #000000;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.15), -1px -1px 2px rgba(255, 255, 255, 0.3);
}

.home-card1-title, .home-card2-title, .home-card3-title{
    font-size: 4.5em;
    letter-spacing: -0.03em;
    font-weight: 500;
    margin-bottom: -5px;
}

.home-card1-subtitle, .home-card2-subtitle, .home-card3-subtitle{
    font-size: 1.65em;
    font-weight: 500;
    margin-top: -5px;
    margin-bottom: 10px;
}

.home-card1-text{
    text-align: center;
    background: linear-gradient(90.01deg, #B194FC 0%, #EBE7FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;    
}

.home-card1-content {
    border-radius: 50px;
    width: 800px;
    height: 400px;


    display: flex;
    align-items: center;
    justify-content: right;
}

.home-card1-line{
    width: 95%;
}

.home-card2-text{
    text-align: center;
    background: linear-gradient(90.01deg, #B194FC 0%, #EBE7FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;}

.home-card2-content {
    border-radius: 50px;
    width: calc(800px - 20px);
    height: 400px;
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Jetbrains Mono';
    color: #4E4E4E;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-left: 35px;
}

.home-card2-content-purple{
    color: #B194FC;
}

.home-card2-content-white{
    color: #FFFFFF;
}

.home-card3-text{
    text-align: center;
    background: linear-gradient(90.01deg, #B194FC 0%, #EBE7FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;}

.home-card3-content {
    border-radius: 50px;
    width: 800px;
    height: 400px;
}

.home-card3-meter{
    position: relative;
    width: 800px;
    height: 400px;

}

.home-card3-meter-outline{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-card3-meter-inside{
    background-color: #000000;
    border-radius: 1000px;
    width: 321px;
    height: 321px;
        
    position: absolute;
    top: 54.65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-card3-meter-inside-number{
    font-weight: 400;
    font-size: 160px;
    text-align: center;

    margin-bottom: -30px;
    margin-top: 40px;   
}

.home-card3-meter-inside-text{
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

.home-card3-meter-dot{
    background-color: #ffffff;
    border-radius: 1000px;
    width: 25px;
    height: 25px;
    position: absolute;

}


.home-card-filler{
    display: none;
}

.home-info1{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: center;

    padding: 150px 0;
    gap: 8px;
    
    font-size: 48px;
}

.home-info1-right-1to4{
    background: linear-gradient(180deg, #ffffff40 0%, #ffffff90 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.home-info1-right-5{
    background: linear-gradient(180deg, #D7B9FF 0%, #BA94FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.home-info2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-info2-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-info2-title{
    font-size: 48px;
    font-weight: 400;
    max-width: 800px;
    text-align: center;
    letter-spacing: -1%;
    line-height: 100%;
}

.home-info2-title-highlight {
    position: relative;
    display: inline-flex;
    color: #ffffff; /* base text */
}

/* gradient overlay */
.home-info2-title-highlight::after {
    content: attr(data-text);
    position: absolute;
    inset: 0;


    background: linear-gradient(90deg, #FFFFFF 0%, #E9AEFF 46.63%, #7139E1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    clip-path: inset(0 calc(100% - var(--reveal, 0%)) 0 0);
    will-change: clip-path;
}



.home-info2-title-subtitle{
    color: #FFFFFF20;
}

.home-info2-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-info2-content-left{
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 36px;
    font-weight: 300;
    width: 300px;
}

.home-info2-content-left-text {
    font-weight: 400;
    transition: font-weight 0.2s ease, opacity 0.2s ease;
    opacity: 0.6;
    cursor: pointer;

}

.home-info2-content-left-text:hover {
    opacity: 0.85;
}

.home-info2-content-left-text.active {
    font-weight: 700;
    opacity: 1;
}


.home-info2-content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 120px;
    
    font-size: 36px;
    font-weight: 300;

    width: 700px;
    padding: 0 50px;
}


.home-info2-content-right-text {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.home-info2-content-right-shown{
    display: block;
}


.home-info2-content-left-text:not(:last-child)::after{
    content: "";
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 3px;
    background-color: #FFFFFF20;
}

.home-info2-content-right{
    width: 500px;
}

.home-faq{
    max-width: 900px;
    margin: 40px auto;
}

.home-faq-title{
    font-weight: 400;
    font-size: 96px;
}

.home-faq p{
    font-size: 32px;
    padding: 10px 0;
    max-width: 800px;
}

.home-faq-q{
    cursor: pointer;
}

.home-faq-a{
    display: none;
}

.home-faq-a-active{
    display: block;
}

.home-merch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 50px;
    padding: 50px 0;
}

.home-merch-img{
    width: 400px;
}

.home-merch-title{
    font-weight: 500;
    font-size: 48px;
    letter-spacing: -3%;
    line-height: 1em;
}

.home-merch-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.home-merch-text{
    font-weight: 500;
    font-size: 24px;
    line-height: 1em;
    letter-spacing: 0;

    width: 265px;

    background: linear-gradient(90deg, #989898 0%, #BABABA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.home-merch-button{
    background: #000000;
    border: 5px solid #D3C9FF;
    box-shadow: 4px 4px 10px #755349, -4px -4px 10px #524770;
    border-radius: 50px;

    padding: 5px 20px;
    font-size: 20px;
}

.home-cta{
    position: relative;
    overflow: hidden;
    padding-bottom: 200px;
}

.home-cta-title{
    text-align: center;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: -2px;

    max-width: 800px;
    margin: 125px auto 0;
}

.home-cta-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.home-cta-arc{
    width: 100%;
    position: absolute;
    z-index: -1;
}