.info-container{
    padding-top: 100px;
    font-size: 0.9em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 100px;
}

.info-container h1{
    background: linear-gradient(180deg, #B074FF 0%, #330099 93.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-align: center;

}

.info-container p{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 2.5em;
}

.sell-container{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.sell-title{
    font-family: 'JetBrains Mono';
    color: #5500FF;
    font-weight: 400;
    text-align: left;
    font-size: 2em;
}

.sell-pricing-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.sell-pricing-tier1, .sell-pricing-tier2{
    background: #FFFFFF;
    border: 3px solid #5F5F5F;
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.sell-pricing-tier1-title, .sell-pricing-tier2-title{
    font-family: 'JetBrains Mono';
    font-size: 5em;
    margin-bottom: 0;
}

.sell-pricing-tier1-title,
.sell-pricing-tier1-subtitle,
.sell-pricing-tier1 p{
    background: linear-gradient(180deg, #5500FF 0%, #330099 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.sell-pricing-tier2-title,
.sell-pricing-tier2-subtitle,
.sell-pricing-tier2 p{
    background: linear-gradient(180deg, #00751D 0%, #001505 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.sell-pricing-tier1-subtitle, .sell-pricing-tier2-subtitle{
    margin-top: 0;
}

.sell-pricing-tier1-button, .sell-pricing-tier2-button{
    font-family: 'Afacad';
    
    font-weight: 500;
    font-size: 40px;
    color: #FFF;

    padding-left: 15px; padding-right: 15px;
    border-radius: 10px;

    margin: 20px;
}

.sell-pricing-tier1-button{
    background-color: #5500FF;
}

.sell-pricing-tier2-button{
    background-color: #2B5034;
}

.sell-pricing-tier1{
    box-shadow: 10px 10px 20px #CEA8FF;
}

.sell-pricing-tier2{
    box-shadow: 10px 10px 20px #8CC59B;
}