.forms-progess-container{
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    margin: 100px auto 50px auto;
    padding: 50px 0 10px 0
}

.forms-progress-indicator-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100px;
    gap: 5px;
}

.forms-progress-indicator-img{
    content: url(/assets/get-started/forms-indicator-white.svg);
}

.forms-progress-indicator-text{
    text-align: center;
    font-weight: 350;
    color: #FFFFFF;
}

.forms-progress-indicator-img-purple{
    content: url(/assets/get-started/forms-indicator-purple.svg) !important;
}

.forms-progress-indicator-text-purple{
    color: #D5B5FF !important;
}

.form-textinput-100{
    background-color: #00000000;
    color: #FFFFFF;
    font-size: 2.25em;
    font-family: 'Inter';
    font-weight: 600;

    border-radius: 0;
    border: none;
    border-bottom: 2px solid #666;
    width: 100%;
    margin-top: 8px; 
    margin-bottom: 8px;

}

.form-textinput-100::placeholder{
    color: #666666;
    
}

.form-textinput-100:focus{
    outline: none;
    border-bottom: 2px solid #ffffff;
}

.form-textinput-50{
    background-color: #00000000;
    color: #FFFFFF;
    font-size: 2.25em;
    font-family: 'Inter';
    font-weight: 600;

    border-radius: 0;
    border: none;
    border-bottom: 2px solid #666;
    width: 49%;
    margin-top: 8px; 
    margin-bottom: 8px;

}

.form-textinput-50::placeholder{
    color: #666666;
    
}

.form-textinput-50:focus{
    outline: none;
    border-bottom: 2px solid #ffffff;
}
.form-textarea{
    background-color: #00000000;
    color: #FFFFFF;
    font-size: 2.25em;
    font-family: 'Inter';
    font-weight: 600;

    border-radius: 0;
    border: none;
    border-bottom: 2px solid #666;
    width: 100%;
    margin-top: 8px; 
    margin-bottom: 8px;

    resize: vertical;
    max-height: 300px;
    min-height: 150px;
}

.form-textarea::placeholder{
    color: #666666;
    
}

.form-textarea:focus{
    outline: none;
    border-bottom: 2px solid #ffffff;
}



#form-container{
    max-width: 1000px;
    margin: 0 auto;
}

.form0-name-container{
    display: flex;
    justify-content: space-between;
}

.form-button-container{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.form-button{
    font-family: 'Space Grotesk';
    color: #fff;
    font-size: 1.5em;

    background-color: #000;
    border: none;

    border-radius: 15px;
    background-color: rgba(100, 100, 100, 0.1);
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.15);
    filter: drop-shadow(1px -1px 4px rgba(255, 255, 255, 0.1));

    padding: 15px 25px; 
}

.form2-checkbox-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.form2-checkbox-title{
    width: 40%;
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: 0%;
    line-height: 100%;

    padding-right: 10%;
}

.form2-checkbox label{
    font-size: 1.5em;
    letter-spacing: 0%;
    line-height: 150%;
}

.form-checkbox{
    width: 17px;
    height: 17px;
    margin: auto;
    padding: 0;
    border: 2px solid #1e1e1e;
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: none;
}

.form-checkbox:checked{
    border-color: #1e1e1e;
    background-color: #D5B5FF;
    background-clip: content-box;
    padding: 2px;
}

.form-checkbox:hover{
    border-color: #D5B5FF;  

}

.form2-checkbox-subtitle{
    display: inline-block;
    color: #666666;
    font-size: 1em;
    font-weight: 500;
}

.form-section{
    display: none;
}

.form-mobile-notice{
    text-align: center;
    font-size: 2em;
    margin: 30px auto;
}