.home-tile1-container{
    display: flex;
    flex-direction: row;

    margin-left: 140px;
    margin-bottom: 100px;

    padding-top: 100px;
}

.home-tile1-left-container{
    width: 60%;
}

.home-tile1-left-title{
    font-weight: 400;
    font-size: 4em;

    background: linear-gradient(90deg, #5500FF 0%, #BF9FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home-tile1-left-text{

    margin-bottom: 10px;
}

.home-tile1-left-mail{
    font-weight: 400;
    font-size: 2.5em;

    background: linear-gradient(90deg, #5500FF 0%, #9747FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}

.home-tile1-left-lets-go{
    font-family: 'Afacad';
    
    font-weight: 500;
    font-size: 40px;
    color: #FFF;

    padding-left: 15px; padding-right: 15px;
    background-color: #5500FF;
    border-radius: 10px;

    margin-top: 20px;
}

.home-tile1-left-lets-go:hover{
    background-color: #7B39FF;
}

.home-tile1-left-lets-go:active{
    background-color: #000000;
    color: #FFFFFF;
}

.home-tile1-right-container{
    position: relative;
    width: 40%;
    margin-right: 100px;
}

.home-tile1-right-badie, .home-tile1-right-rohan{
    width: 220px;
    height: 220px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
    border-radius: 1000px;
}

.home-tile1-right-badie{
    position: absolute;
    top: 0;
    right: 140px;

    z-index: -1;
}

.home-tile1-right-rohan{
    position: absolute;
    top: 140px;
    right: 0;

    z-index: -2;
}

.home-tile2-container{
    display: flex;
    margin-left: 140px;
    margin-bottom: 700px;
}

.home-tile2-left-container{
    position: relative;
    width: 40%;
}

.home-tile2-left-title{
    text-align: right;
    position: absolute;
    right: -50px;
    top: 0;

    background: linear-gradient(90.05deg, #BF9FFF 0.05%, #5500FF 99.95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home-tile2-left-text{
    text-align: right;
    position: absolute;
    top: 320px;
    right: 0;

}

.home-tile2-right-container{
    position: relative;
    width: 60%;
}

.home-tile2-right-img1, .home-tile2-right-img2, .home-tile2-right-img3{
    width: 340px;
    height: auto;

    transition: width .5s;
}

.home-tile2-right-img1:hover, .home-tile2-right-img2:hover, .home-tile2-right-img3:hover{
    width: 360px;
}

.home-tile2-right-img1{
    position: absolute;
    left: 66px;
    top: 0;

    z-index: 1;
}

.home-tile2-right-img2{
    position: absolute;
    left: 240px;
    top: 210px;

    z-index: 2;
}

.home-tile2-right-img3{
    position: absolute;
    left: 0;
    top: 300px;

    z-index: 3;
}

.home-tile3-container{
    position: relative;
    max-width: 80%;
    margin-left: auto; margin-right: auto;
    margin-bottom: 100px;
}

.home-tile3-title{
    background: linear-gradient(90deg, #5500FF 0%, #9747FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    text-align: center;
}

.home-tile3-text{
    opacity: 0.67;
    font-weight: 400;
    font-size: 2.325em;
}

.home-tile3-text-g1{
    background: conic-gradient(from 90deg at 50% 50%, #5500FF 0deg, #9747FF 360deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home-tile3-text-g2{
    background: conic-gradient(from 90deg at 50% 50%, #5500FF 0deg, #9747FF 360deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home-tile3-line{
    position: absolute;
    width: 200%;
    height: 80px;
    left: -50%;
    top: 160px;

    background: linear-gradient(90.05deg, #cfabff 0%, #d2b2ff 50%, #dabdff 100%);
    box-shadow: 0px 0px 64.4px 243px rgba(191, 159, 255, 0.15);
    filter: blur(25px);
    transform: rotate(-14.46deg);

    z-index: -1;
}

.home-tile4-container{
    background-color: #1B1B1B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;

    position: relative;

    z-index: 1;
}

.home-tile4-img{
    display: block;
    width: 800px;
    margin-left: auto; margin-right: auto;
}

.home-tile4-orb1{
    position: absolute;
    width: 350px;
    height: 350px;
    left: -100px;
    bottom: 100px;

    background: #c9a0fe;
    filter: blur(50px);
    border-radius: 1000px;

    z-index: 0;
}

.home-tile4-orb2{
    position: absolute;
    width: 350px;
    height: 350px;
    right: -50px;
    top: 100px;

    background: #c9a0fe;
    filter: blur(50px);
    border-radius: 1000px;

    z-index: 0;
}

.home-tile4-content-container{
    z-index: 1;
}

.home-tile4-title{
    font-family: 'JetBrains Mono';
    color: #FFFFFF;
    font-size: 2.2em;
}

.home-tile4-title-link{
    font-family: 'JetBrains Mono';
    color: #B074FF;
    text-decoration: underline;
    font-size: inherit;
}

.home-tile4-text{
    font-family: 'JetBrains Mono';
    color: #FFFFFF;
    font-size: 2em;
}

.home-tile4-text-em{
    font-family: inherit;
    color: #B074FF;
    font-size: inherit;
}

.home-tile5-contaienr{

}

.home-tile5-title{
    font-family: 'JetBrains Mono';
    color: #5500FF;
    font-weight: 400;
    text-align: center;
}

.home-tile5-pricing-container{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.home-tile5-pricing-tier1, .home-tile5-pricing-tier2{
    background: #FFFFFF;
    border: 3px solid #5F5F5F;
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.home-tile5-pricing-tier1-title, .home-tile5-pricing-tier2-title{
    font-family: 'JetBrains Mono';
    font-size: 5em;
    margin-bottom: 0;
}

.home-tile5-pricing-tier1-title,
.home-tile5-pricing-tier1-subtitle,
.home-tile5-pricing-tier1 p{
    background: linear-gradient(180deg, #5500FF 0%, #330099 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home-tile5-pricing-tier2-title,
.home-tile5-pricing-tier2-subtitle,
.home-tile5-pricing-tier2 p{
    background: linear-gradient(180deg, #00751D 0%, #001505 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home-tile5-pricing-tier1-subtitle, .home-tile5-pricing-tier2-subtitle{
    margin-top: 0;
}

.home-tile5-pricing-tier1-button, .home-tile5-pricing-tier2-button{
    font-family: 'Afacad';
    
    font-weight: 500;
    font-size: 40px;
    color: #FFF;

    padding-left: 15px; padding-right: 15px;
    border-radius: 10px;

    margin: 20px;
}

.home-tile5-pricing-tier1-button{
    background-color: #5500FF;
}

.home-tile5-pricing-tier2-button{
    background-color: #2B5034;
}

.home-tile5-pricing-tier1{
    box-shadow: 10px 10px 20px #CEA8FF;
}

.home-tile5-pricing-tier2{
    box-shadow: 10px 10px 20px #8CC59B;
}

.home-tile6-container{
    background-color: #d3b1ff;
    padding-top: 20px;
}

.home-tile6-title{
    text-align: center;
    font-size: 5em;

    background: linear-gradient(90deg, #5500FF 0%, #B074FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.home-tile6-text{
    font-size: 3em;
    margin-left: 150px;
    margin-right: 150px;
}

.home-tile6-button-container{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 50px;
    padding-bottom: 20px;
}

.home-tile6-button-lets-go{
    font-family: 'Afacad';
    
    font-weight: 500;
    font-size: 40px;
    color: #FFF;

    padding-left: 15px; padding-right: 15px;
    background-color: #5500FF;
    border-radius: 10px;

}

.home-tile6-button-lets-go:hover{
    background-color: #7B39FF;
}

.home-tile6-button-lets-go:active{
    background-color: #000000;
    color: #FFFFFF;
}

.home-tile6-button-quote{
    padding-left: 15px; padding-right: 15px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 1000px;
    font-size: 40px;
}

.home-tile6-button-quote:hover{
    background-color: #4A4A4A;
}

.home-tile6-button-quote:active{
    background-color: #949494;
    color: #000000;
}