body{
    background-color: #FFFFFF;
    margin-left: 23px;
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li, span, button, div{
    font-family: "Varela Round";
}

h1{
    font-weight: 400;
    font-size: 4em;
}

p{
    font-weight: 400;
    font-size: 1.7em;
}

a{
    color: #000000;
    text-decoration: none;
}

nav{
    position: fixed;
    width: 100%;

    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(18.2px);

    z-index: 1000;
}

.nav-links-container{
    display: flex;
    gap: 20px;
}

.logo{
    font-family: 'Afacad';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;

    margin-left: 20px;
}

footer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-column p{
    font-family: 'Afacad';
    font-size: 2.2em;
    color: #5500FF;
}

.footer-column a{
    font-family: 'Afacad';
    font-size: 1.8em;
    color: #5500FF;
}