body{
    background-color: #FFFFFF;
    margin-left: 23px;
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, li, span, button, div{
    font-family: "Varela Round";
}

@media only screen and (min-width: 980px) {
    h1{
    font-weight: 400;
    font-size: 4em;
    }

    p{
        font-weight: 400;
        font-size: 1.7em;
    }

    a{
        color: #000000;
        text-decoration: none;
    }
    
}

@media only screen and (max-width: 980px) {
    h1{
        font-weight: 400;
        font-size: 6em;
    }

    p{
        font-weight: 400;
        font-size: 4em;
        line-height: 1.3em;
    }

    a{
        color: #000000;
        text-decoration: none;
        font-size: 4em;
    }
    
}



footer{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 40px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-column p{
    font-family: 'Afacad';
    font-size: 2.2em;
    color: #5500FF;
}

.footer-column a{
    font-family: 'Afacad';
    font-size: 1.8em;
    color: #5500FF;
}



input, textarea{
    border-radius: 10px;
    border-color: #515151;
    border-width: 2px;
    padding: 10px;

    font-family: 'Varela Round';
    color: #9C9C9C;
    font-size: 2em;
    margin: 10px;
}